<!DOCTYPE html>
<html lang="pl" ng-app="myNinjaApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="app\lib\angular.min.js"></script>
  <link rel="stylesheet" href="main.css">
</head>
<body ng-init="ninjas=['yoshi','crystal','ryu','shaun']">
  <!-- <input type="text" ng-model="favMeat" placeholder="enter your fav meat">
  <ul>
    <li ng-repeat="ninja in ninjas">{{ninja}}</li>
  </ul> -->
<div class="header"></div>
<div class="arrow-bg">


  <div class="arrow-top">
      <div class="test-cont background-trangle-one shape-reso"></div>
      <div class="test-cont background-trangle-two shape-reso"></div>
  </div>


  <div class="arrow-border-position-top">
    <div class="arrow-trangle-margin"></div>
    <div class="arrow-top arrow-border-top">
        <div class="test-cont background-trangle-one shape-reso"></div>
        <div class="test-cont background-trangle-two shape-reso"></div>
    </div>
  </div>


  <div class="content-row">

  </div>


  <div class="arrow-row">
      <div class="test-cont background-trangle-three shape-reso"></div>
      <div class="test-cont background-trangle-four shape-reso"></div>
  </div>


  <div class="arrow-border-position-bottom">
    <div class="arrow-row arrow-border-bottom">
        <div class="test-cont background-trangle-three shape-reso"></div>
        <div class="test-cont background-trangle-four shape-reso"></div>
    </div>
    <div class="arrow-trangle-margin"></div>
  </div>


</div>
<div class="footer"></div>
</body>
</html>
